extends ../templates/base

block content

    form(action="/movie/save" method="post")
      
        div
            input(type="hidden" id="id" name="id" value=movie.id)/
        div
            label(for="title") Titel
            input(type="text" id="title" name="title" value=movie.title)/

        div
            label(for="year") Jahr
            input(type="text" id="year" name="year" value=movie.year)/

        div
            button(type="submit") speichern